<div class="banner mb-3 p-3 text-center">
	<h1>Annatar - Lord of Gifts</h1>
	<p>{{ ctx.version }}</p>
	<p>
		Watch movies and tv shows from torrent indexers that are cached
		on Debrid services. This is a free community edition. Enjoy!
	</p>
	<p>
		I build and maintain Annatar in my spare time. If you like it, please consider
		<a href="https://ko-fi.com/annatar"> buying me a beer</a>. Cheers!
	</p>
</div>
